<!DOCTYPE html>
<html>
  <head>
    <title>Address Book!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
		<div class="container">
	    <h1>Your Contacts</h1>
			<form action="/add-contact">
					<button type="submit" class="btn btn-success">Add New Contact</button>
			</form>
			<ul>
				@foreach(var item in Model)
				{
					<h4><a href="/@item.GetId()">@item.GetName()</a></h4>
					<li><strong>Phone:</strong> @item.GetPhone() | <strong>Email:</strong> @item.GetEmail() </li>
					<li><strong>Address:</strong>@item.GetAddress().GetStreet(), @item.GetAddress().GetCity(), @item.GetAddress().GetState(), @item.GetAddress().GetZip()</li>
				}
			</ul>
			<form action="/clear-contacts" method="post">
					<button type="submit" class="btn btn-danger">Delete Contacts</button>
			</form>
		</div>
  </body>
</html>
